<%# 個別ユーザーページ %>
<div class = "container-fluid">
    <div class = "show">

        <%= @user.name %>
        <br>

        <div class = "create_time">
        <%= @user.created_at %>
        </div>

    </div>
</div>