<footer>
    <div class="container">
        <div class="footer-logo"><%= link_to("Connect" , "/")%></div>
            <div class="row">
            <div class="col bg-secondary">メールアドレス</div>
            <div class="col bg-secondary">よくある質問</div>
            <div class="col bg-secondary">運営者情報</div>
        </div>
    </div>
</footer>
