<div class="cover">
    <%# <div class="m-10px">
    <a href = "#" class="btn btn-primary btn-lg ">新規登録</a>
    </div> %>
    <div class="header-list">
        <ul>
            <%= link_to("ユーザー一覧" , users_path)%>
            <%= link_to("投稿一覧" , posts_path)%>
            <%= link_to("新規投稿" , new_post_path)%>
        </ul>
    </div>
<div>