<% @page_title = "Connectについて" %>

<h1><%= @page_title %></h1>

<p>Connectは、世界をよりクリエイティブにするためのSNSです。</p>

<div class="text-center bg-primary">BOX</div>
<div class="text-center bg-info">BOX</div>
<div class="text-center bg-dark">BOX</div>
<div class="text-center bg-primary">BOX</div>