<!DOCTYPE html>
<html lang="ja">
<html>
 <head>
    <meta charaset="utf-8">
    <title>connect</title>
    <link rel="stylesheet" href="home.scss">
 </head>

 <body>
 
     <div class="main">
      <div class="text-center bg-primary">
        <h1><%= @message%></h1>
        <h2>シームレスにつながろう</h2>
      </div>
      <div class="contents">
      ピックアップユーザーを掲載
      </div>


      <%# <div class="contact-form">
       <h3 class="section-title">お問い合わせ</h3>
       　<p>メールアドレス</p>
       　<p>お名前</p>
       　<p>お問い合わせ内容</p>
      </div>
    </div> %>

    <%# <div class="footer">
     <div class="footer-logo">Connect</div>
     <div class="footer-list">
      <ul>
        <li>よくある質問</li>
        <li>お問い合わせ</li>
        <li>運営者情報</li>
        <li>プライバシポリシー</li>
        <li>利用規約</li>
      </ul>
     </div>
    </div> %>
 </body>

  <%# <footer>
  
  <div class="container">
  <div class="footer-logo">Connect</div>
  <div class="row">
    <div class="col bg-secondary">メールアドレス</div>
    <div class="col bg-secondary">よくある質問</div>
    <div class="col bg-secondary">運営者情報</div>
  </div>
</div>
  
  </footer> %>
</html>