<!DOCTYPE html>
<html lang="ja">
<html>
 <head>
    <meta charaset="utf-8">
    <title>connect</title>
    <link rel="stylesheet" href="home.scss">
 </head>

 <body>
    <div class="header">
     <div class="header-logo">Connect</div>
     <div class="header-list">
      <ul>
        <li><a href="/about">Connectとは</a></li>
        <li>登録する</li>
        <li><a href="/login">ログイン</a></li>
        <p><%= link_to "home", root_path %></p>
      </ul>
     </div>
    </div>

　　 <div class="main">
      <div class="text-center bg-primary">
        <h1><%= @message%></h1>
        <h2>シームレスにつながろう</h2>
      </div>
      <div class="contents">
      ここにピックアップユーザーを掲載
      </div>
      <div class="contact-form">
       <h3 class="section-title">お問い合わせ</h3>
       　<p>メールアドレス</p>
       　<p>お名前</p>
       　<p>お問い合わせ内容</p>
      </div>

    </div>

    <div class="footer">
     <div class="footer-logo">Connect</div>
     <div class="footer-list">
      <ul>
        <li>よくある質問</li>
        <li>お問い合わせ</li>
        <li>運営者情報</li>
        <li>プライバシポリシー</li>
        <li>利用規約</li>
      </ul>
     </div>
    </div>
 </body>
</html>