<%# <!DOCTYPE html>
<html lang="ja">
<html>
 <head>
    <meta charaset="utf-8">
    <title>connect</title>
    <link rel="stylesheet" href="home.scss">
 </head> %>

<link rel="stylesheet" href="home.scss">

<body>
  <div class = "top-wrapper">
    <div class="main">
        <div class="text-center">
            <h1><%= @message%></h1>
            <br>
            <h2>シームレスにつながろう</h2>
        </div>
        <button class = "btn btn-primary">ユーザー登録</button>
        <div class="contents">
            <p>ピックアップユーザーを掲載</p>
        </div>
    </div>
  </div>
</body>
<%# </html> %>