<div class = "main posts-index">
     <div class = "container">
      
      <% if @posts.any? %>
        <% @posts.each do |post| %> 
          <div class = "posts-index-item">

            <%= link_to post.content , post_path(post) %>
          </div>

        <% end %>
      <% elsif %>
        <p>まだ投稿はありません</p>
      <% end%>
     </div>
</div>