// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
}

header {
    background-color: powderblue;
    color: white;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 40px;
    padding: 0px 40px;
}

.header-list li {
    list-style: none;
    float: left;
    padding: 30px;
}

.main {
  background-color: #bdf7f1;
  height: 200px;
}

.top-wrapper {
    background-image: url(‘/assets/images/back.jpg’);
    background-size:  cover;
    opacity:  0.7;
}

.footer {
  background-color: powderblue;
  color: white;
  margin-top: auto;
}

.footer-logo {
  font-size: 20px;
  float: left;
}