// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
}

// 背景画像に関する設定
// .cover {
//   background-image: image-url('01.jpg'); 
//   background-size: cover;
//   // opacity: 0.7;
// }

.header-list li {
    list-style: none;
    float: left;
    padding: 30px;
}

.main {
  background-color: #f4f4f4;
  // height: 200px;
  height: auto;
  padding: 40px 0px;
}

footer {
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
  // padding-top: auto;
  // margin-top: auto;
}