// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: powderblue;
    color: white;
    height: 90px;
    h2 {
        
    }
}

.header-logo {
    float: left;
    font-size: 40px;
    padding: 20px 40px;
}

.header-list li {
    list-style: none;
    float: left;
    padding: 30px;
}

.main {
  background-color: #bdf7f1;
  height: 200px;
}

.contact-form {
  padding-top: 100px;
}

.footer {
  background-color: powderblue;
  color: white;
  height: 120x;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: right;

  li {
    padding-bottom: 20px;
  }
}